.main-container {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    padding: 0 0 10px 0;
    justify-content: space-between;
    align-items: stretch;
}

.content-form-container {
    flex: 0 1 50%;
    margin: 2px;
}

.content-form {
    height: 100%;
}

label {
    flex-basis: 30%;
    text-align: left;
    margin-right: 10px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

input[type="date"] {
    flex: 20% 0 0;
    border-radius: 4px;
    padding: 3px;
    border: 1px solid #ccc;
}

.main-container > input[type="text"], textarea, input[type="number"] {
    flex: 1;
    width: 100%;
    padding: 3px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    display: block;
    margin: 5px auto;
}

.btn:hover {
    background-color: #06488e;
}

.content-table {
    flex: 1 1 60%;
    margin: 2px;
    display: flex;
    align-items: stretch;
}

.daily-fieldset-tracker,
.content-form-fieldset,
.task-form-fieldset {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tracker-table,
.recent-content-table {
    align-self: flex-start;
    width: 95%;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    display: block;
    margin: 5px auto;
}

.btn:hover {
    background-color: #06488e;
}