.container {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    padding: 0 0 10px 0;
    justify-content: space-between;
    align-items: stretch;
}

.event-form-container,
.event-table {
    flex: 1 1 50%;
    align-self: stretch;
    margin: 2px;
    padding: 5px;
}

.event-form {
    width: 100%;
    height: 100%;
    display: flex;
}

.event-form-fieldset,
.event-table-fieldset {
    align-self: stretch;
    width: 95%;
}

.event-form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.form-label-events {
    flex-basis: 30%;
    text-align: left;
    margin-right: 10px;
}

.form-field-events {
    width: 40%;
    padding: 3px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    display: block;
    margin: 5px auto;
}

.btn:hover {
    background-color: #06488e;
}

.attendee-text {
    margin: 0;
    padding: 0;
}