* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: white;
    margin: 0;
    min-height: 20rem;
    flex-grow: 1;
    padding: 10px;
}

header {
    padding: 0;
    /* background-color: lightblue; */
    background-image: linear-gradient(to right, lightblue, darkblue);
}

footer {
    text-align: center;
    color: white;
    /* background-color: lightblue; */
    background-image: linear-gradient(to right, lightblue, darkblue);
    padding: 1rem;
}

h1, h2 {
    margin: 5px 1px 1px 1px;
}

.navbar {
    /* padding: 1rem; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar-left,
.navbar-right {
    justify-content: space-between;
    display: flex;
    align-items: center;
    /* padding: 1rem; */
    flex-wrap: wrap;
    vertical-align: middle;
}

.navbar-logo {
    border-radius: 8px;
    height: 50px;
    width: auto;
    margin: 0 1rem;
}

.navbar-link {
    margin: 10px;
    padding: 5px;
    /* border-width: thin; */
    /* border-style: dotted; */
    /* align-self: center; */
    border-radius: 8px;
    background-color: white;
    font-size: small;
}

.login {
    background-color: green;
    color: white;
}

.login-fieldset {
    max-width: 500px;
}

.login-username,
.login-password {
    width: 80%;
}

.login-username-field,
.login-password-field {
    width: 200px;
}

.logout {
    background-color: lightpink; 
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

.about-layout {
    display: grid;
    grid-template-columns: 50% 50%;
}

.about-left,
.about-right {
    width: 95%;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
    font-size: 12px;
    padding: 0 10px 10px 10px;
}

.about-left {
    background-color: lightgreen;
}

.about-right {
    background-color: lightblue;
}

.message {
    padding: 5px;
    margin: 5px;
    background-color: lightseagreen;
}

.alert {
    padding: 5px 20px;
    margin: 5px;
    color: black;
    background-color: lightgrey;
}

.postForm {
    padding: 5px;
    margin: 5px;
}

.errorMessage {
    color: red;
}

/* update modal content */
.updateModal,
.deleteModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.update-modal-content,
.delete-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.update-modal-actions,
.delete-modal-actions {
    margin-top: 20px;
}

.confirmButton {
    background-color: #dc3545;
    color: #fff;
}

.mainSection {
    display: flex;
}

.leftSection,
.rightSection {
    min-width: 15%;
    padding: 5px;
    border: 2px solid lightgrey;
    margin: 5px;
    border-radius: 5px;
}

.centerSection {
    width: 85%;
}

.topSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
}

.bottomSection {
    min-height: 5rem;
    border: 2px solid lightgrey;
    margin: 5px;   
    padding: 5px;
    border-radius: 5px;
}

.box {
    border: 2px solid lightgrey;
    margin: 5px;   
    padding: 5px;
    border-radius: 5px;
    min-height: 10rem;
    align-items: top;
}

.boxTitle {
    display: flex;
    align-items: center;
    line-height: 1;
}

.addButton {
    line-height: 1;
    margin: 0 5px 0 10px;
    padding: 5px;
    border-radius: 8px;
    background-color: lightblue;
    font-size: small;
}

table {
    border-collapse: collapse;
    font-size: 12px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 3px 0 3px 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

.taskDisplayTable,
.contentDisplayTable,
.newsDisplayTable,
.eventDisplayTable,
.ideaTable {
    font-size: 12px;
    padding: 0;
    width: 95%;
    margin: 3px 10px 10px 3px;
}

legend {
    font-weight: 800;
    background-color: lightblue;
    border-radius: 5px;
    padding: 2px;
}

.form-label {
    max-width: 10%;
}

.form-field {
    position: absolute;
    left: 20%;
    border-radius: 5px;
    border: 1px solid black;
    min-width: 10%;
    margin: 0;
    padding: 5px;
}

.form-note {
    min-height: 100px;
}