* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: white;
    margin: 0;
    min-height: 20rem;
    flex-grow: 1;
    padding: 10px;
}

header {
    padding: 0;
    /* background-color: lightblue; */
    background-image: linear-gradient(to right, lightblue, darkblue);
}

footer {
    text-align: center;
    color: white;
    /* background-color: lightblue; */
    background-image: linear-gradient(to right, lightblue, darkblue);
    padding: 1rem;
}

h1, h2 {
    margin: 10px;
}

.navbar {
    /* padding: 1rem; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.navbar-left {
    justify-content: space-between;
    display: flex;
    align-items: center;
    /* padding: 1rem; */
    flex-wrap: wrap;
    vertical-align: middle;
}

.navbar-right {
    /* padding: 1rem; */
    flex-wrap: wrap;
    display: flex;
}

.navbar-logo {
    border-radius: 8px;
    height: 50px;
    width: auto;
    margin: 0 1rem;
}

.navbar-search,
.navbar-about,
.navbar-home {
    margin: 10px;
    padding: 5px;
    /* border-width: thin; */
    /* border-style: dotted; */
    /* align-self: center; */
    border-radius: 8px;
    background-color: white;
    font-size: small;
}

a {
    color: black;
    text-decoration: none;
}

.about-layout {
    display: grid;
    grid-template-columns: 50% 50%;
}

.about-left,
.about-right {
    width: 95%;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
    font-size: 12px;
    padding: 0 10px 10px 10px;
}

.about-left {
    background-color: lightgreen;
}

.about-right {
    background-color: lightblue;
}

.message {
    padding: 10px;
    margin: 5px;
    background-color: lightseagreen;
}

.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}

.postForm {
    padding: 5px;
    margin: 5px;
}

table {
    border-collapse: collapse;
    margin: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 5px 20px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding: 12px 0 12px 0;
    text-align: center;
    background-color: hsl(202, 66%, 29%);
    color: white;
}

.columnBreak {
    background-color: white;
    padding: 5px;
    border: none;
}