{% extends "layout.html" %}
{% block content %}

    <h1>About Page</h1>
    <div class="about-layout">
        <div class="about-left">
            <h2>Ideas for events</h2>
            <ul>
                <li>Exercise</li>
                <li>Content</li>
                    <ul>
                        <li>Podcasts</li>
                        <li>TV shows</li>
                        <li>Movies</li>
                        <li>Books on tape</li>
                        <li>Youtube videos</li>
                        <li>Company deep dives</li>
                    </ul>
                <li>Diet/food</li>
                <li>Henry</li>
                <li>People with timestamps of contact, notes</li>
                    <ul>
                        <li>Internal colleagues</li>
                        <li>Clients</li>
                        <li>Friends</li>
                        <li>Family</li>
                    </ul>
                <li>Self learning</li>
                    <ul>
                        <li>Personal event / idea website</li>
                        <li>Odin Project</li>
                        <li>Corey Shafer Flask Project</li>
                        <li>CS50w course</li>
                        <li>Roadmap for CS</li>
                    </ul>
                <br>
                <li>My days:</li>
                    <ul>
                        <li>Morning</li>
                        <li>Afternoon</li>
                        <li>Evening</li>
                    </ul>
            </ul>
        </div>

        <div class="about-right">
            <h2>Ideas for Ideas</h2>
            <ul>
                <li>NHL / Hockey</li>
                    <ul>
                        <li>Consolidate broadcast content across nation</li>
                        <li>Create more clear tie-ins for cities with their teams (e.g. a requirement of N players from that metro region on the team)</li>
                        <li>Monetization of junior leagues and prospects - create fans of players earlier in players' careers</li>
                        <li>Portal for all player/participant news and rumors, perhaps separated from direct league oversight to maintain independence</li>
                    </ul>
                <li>Finance / work</li>
                    <ul>
                        <li>Convert bonds</li>
                            <ul>
                                <li>CDPI</li>
                                <li>High premium CB</li>
                                <li>Discount convert / zero coupon</li>
                                <li>Floating reference price vs. future VWAP</li>
                                <li>Company buys call, sponsor sells upper strike</li>
                                <li>Short dated CB</li>
                                <li>Booster CB</li>
                                <li>Cross currency (bond+warrants)</li>
                            </ul>
                        <li>Mandatory converts</li>
                            <ul>
                                <li>Lower strike below 100</li>
                                <li>TEU with host as pfd</li>
                                <li>Recreate follow-on plus call spread</li>
                            </ul>
                        <li>Forward sales</li>
                            <ul>
                                <li>Variable price (issuer collar)</li>
                                <li>Forward sale to faciliate future borrow for CB?</li>
                            </ul>
                        <li>Margin loan</li>
                            <ul>
                                <li>Sold calls to defease interest payments</li>
                                <li>Institutional market for SPV rated by Kroll?</li>
                                <li>Basket loans</li>
                            </ul>
                        <li>Unique ideas</li>
                            <ul>
                                <li>Acquisition contingent hedge with purchased calls</li>
                                <li>SPAC re-done as C-Corp with redeemable security</li>
                                <li>Bond + warrant for partial equity credit</li>

                            </ul>
                        <li>Buybacks</li>
                        <ul>
                            <li>OMR / eOMR</li>
                            <li>ASR</li>
                            <li>Tender</li>
                            <li>Zerostrike calls / prepaid puts</li>
                            <li>Sold puts (good credits)</li>
                            <li>Range repurchase (buy a call spread)</li>
                            <li>Postpaid repurchase (Invesco)</li>
                        </ul>
                        <li>Notable Precedents</li>
                            <ul>
                                <li>Cross currency: Siemens, Brenntag</li>
                                <li>OCEB: CVC/Evonik</li>
                            </ul>
                    </ul>
            </ul>
        </div>
    </div>

{% endblock content %}