{% extends "layout.html" %}
{% block content %}

<h2>{{ companyName }} ({{ ticker.upper() }})</h2>

<table>
    <thead>
        <tr>
            <th>Year</th>
            <th>Cash</th>
            <th>Assets</th>
            <th>Liabilities</th>
            <th>Debt</th>
            <th class="columnBreak"></th>
            <th>Revenue</th>
            <th>COGS</th>
            <th>Gross Profit</th>
            <th>CFO</th>
            <th>CFI</th>
            <th>CFF</th>
        </tr>
    </thead>
    <tbody>
        {% for year in years %}
        {% if year %}
        <tr>
            <td>{{ year }}</td>
            <td>${{ financials["CashCashEquivalentsAndShortTermInvestments"][year] }}</td>
            <td>${{ financials["Assets"][year] }}</td>
            <td>${{ financials["Liabilities"][year] }}</td>
            <td>${{ financials["LongTermDebt"][year] }}</td>
            <td class="columnBreak"></td>
            <td>${{ financials["RevenueFromContractWithCustomerExcludingAssessedTax"][year] }}</td>
            <td>${{ financials["CostOfGoodsAndServicesSold"][year] }}</td>
            <td>${{ financials["GrossProfit"][year] }}</td>
            <td>${{ financials["NetCashProvidedByUsedInOperatingActivities"][year] }}</td>
            <td>${{ financials["NetCashProvidedByUsedInInvestingActivities"][year] }}</td>
            <td>${{ financials["NetCashProvidedByUsedInFinancingActivities"][year] }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}