{% extends "layout.html" %}
{% block css %}
    <style>
        .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        border: black solid 2px;
    }

    .container > * {
        padding: 2px;
        border: black solid 2px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 50%;
        display: block;
        margin: 5px auto 0 auto;
    }

    .btn:hover {
        background-color: #06488e;
    }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="form-container">
        <form action="" method="POST" autocomplete="off" novalidate>
            {{ form.hidden_tag() }}
            <div>
                <label for="name">Name</label>
                {{ form.name }}
                {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>

            <div>
                <label for="category">Category</label>
                {{ form.category }}
                {% for error in form.category.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>

            <div>
                <label for="link">Link</label>
                {{ form.link }}
                {% for error in form.link.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>

            <div>
                <label for="priority">Priority</label>
                {{ form.priority }}
                {% for error in form.priority.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>

            <div>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    <div class="tracker-container">
        <table>
            <thead>
                <tr>
                    <th>Priority</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Link</th>
                    <th>Posts</th>
                    <th>Count</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for cat in cs %}
                <tr>
                    <td>{{ cat.priority }}</td>
                    <td>{{ cat.name }}</td>
                    <td>{{ cat.category }}</td>
                    <td><a href="{{ cat.link }}" target="_blank" rel="noreferrer noopener">Link</a></td>
                    <td><a href="{{ url_for('computerScienceCat', cat_id=cat.id) }}">Posts</a></td>
                    <td>
                        {{ cat.posts.all()|length }}
                    </td>
                    <td><a href="{{ url_for('computerScience', cat_id=cat.id) }}">Edit</a>
                        <button class="deleteButton" data-delete-url="{{ url_for('deleteComputerScience', cat_id=cat.id) }}">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<!-- Delete Modal -->
<div class="deleteModal" id="deleteModal">
    <div class="delete-modal-content">
        <p>Are you sure you want to delete?</p>
        <div class="delete-modal-actions">
            <button class="deleteCancelButton">Cancel</button>
            <button class="deleteConfirmButton">Confirm Delete</button>
        </div>
    </div>
</div>

<script>
    // Script for Delete Modal
    document.addEventListener('DOMContentLoaded', function() {
        const deleteButtons = document.querySelectorAll('.deleteButton');
        const modal = document.getElementById('deleteModal');
        const deleteCancelButtons = document.querySelectorAll('.deleteCancelButton');
        const deleteConfirmButtons = document.querySelectorAll('.deleteConfirmButton');

        let deleteUrl; // Variable to store the delete URL

        // Show modal when any delete button is clicked
        deleteButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                // Get the URL for the delete action from the data attribute
                deleteUrl = button.getAttribute('data-delete-url');
                modal.style.display = 'block';
            });
        });

        // Hide modal when any cancel button is clicked
        deleteCancelButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                modal.style.display = 'none';
            });
        });

        // Perform the delete action when any confirm button is clicked
        deleteConfirmButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                // Redirect to the delete URL after confirmation
                window.location.href = deleteUrl;

                // Hide the modal after confirmation (optional)
                modal.style.display = 'none';
            });
        });
    });
</script>

{% endblock %}