{% extends "layout.html" %}
{% block content %}

<h2>{{ companyName }} ({{ ticker.upper() }})</h2>

<table>
    <thead>
        <tr>
            <th>Year</th>
            <th>Cash</th>
            <th>Assets</th>
            <th>Liabilities</th>
            <th>Debt</th>
            <th>Revenue</th>
            <th>COGS</th>
            <th>Gross Profit</th>
            <th>CFO</th>
            <th>CFI</th>
            <th>CFF</th>
        </tr>
    </thead>
    <tbody>
        {% for year in years %}
            <tr>
                <td>{{ year }}</td>
                {% for i in financials %}
                    {% if year %}
                        <td>${{ financials[i][year] }}</td>
                    {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2 class="holder-output-header">
    {% if last_row > 1 %}
        Top {{ last_row }} Holders for {{ ticker.upper() }}
    {% elif last_row == 1 %}
        Top {{ last_row }} Holder for {{ ticker.upper() }}
    {% else %}
        No Holders for {{ ticker.upper() }}; CUSIP is {{ cusip }}
    {% endif %}
</h2>
{% if last_row >=1 %}
    <table class="holderTable">
        <thead>
            <tr>
                <th class="holderTableHeader" style="text-align: left">Number</th>
                <th class="holderTableHeader" style="text-align: left">Fund Name</th>
                <th class="holderTableHeader" style="text-align: center">Number of Securities</th>
            </tr>
        </thead>
        <tbody>
            {% for row in holderTable %}
                <tr>
                    <td class="holderRow">{{ row[0] }}</td>
                    <td class="holderRow" style="text-align: left">{{ row[1] }}</td>
                    <td class="holderRow" style="text-align: center">{{ row[2] }}</td>
                </tr>  
            
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No holders to display</p>
{% endif %}


{% endblock %}