{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content_form.css') }}">
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="content-form-container">
        <form action="" method="POST" autocomplete="off" novalidate>
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Personal Categories</legend>
                
                <div class="form-group">
                    <label for="date">Date</label>
                    {{ form.date(class="form-control", id="date", readonly="readonly") }}
                </div>
                
                <div class="form-group">
                    <label for="weight">Weight</label>
                    {{ form.weight(class="form-control", id="weight") }}
                </div>

                <div class="form-group">
                    <label for="sleep">Sleep Location:</label>
                    {{ form.sleep(class="form-control", id="sleep") }}
                </div>

                <div class="form-group">
                    <label for="morning">Morning</label>
                    {{ form.morning(class="form-control", id="morning") }}
                </div>

                <div class="form-group">
                    <label for="afternoon">Afternoon</label>
                    {{ form.afternoon(class="form-control", id="afternoon") }}
                </div>

                <div class="form-group">
                    <label for="evening">Evening</label>
                    {{ form.evening(class="form-control", id="evening") }}
                </div>

                <div class="form-group">
                    <label for="journal">Journal Entry:</label>
                    {{ form.journal(class="form-control", id="journal") }}
                </div>

                <button type="submit" class="btn btn-primary">Submit Personal</button>
            </fieldset>
        </form>
    </div>
    
    <div>
        <div>{{ exercises }}</div><br>
        <div>{{ contents }}</div><br>
        <div>{{ events }}</div><br>
        <div>{{ news }}</div>
    </div>
</div>
{% endblock %}