{% extends "layout.html" %}
{% block content %}

<div class="about-layout">
    <div class="about-left">
        <h3>Personal Categories</h3>
        <ul>
            <li>Sleep Location</li>
            <li>Morning Activities</li>
            <li>Afternoon Activities</li>
            <li>Evening Activities</li>
            <li>Henry and Sara</li>
            <li>Weight</li>
            <li>New Ideas</li>
            <li>Text entry on the day</li>
        </ul>

        <h3>Content Categories</h3>
        <ul>
            <li>Podcasts</li>
            <li>Books (read, on tape)</li>
            <li>Youtube videos</li>
            <li>New content to consumer (TV, movies, music, podcasts, etc)</li>
        </ul>

        <h3>Tasks / To-Do's</h3>
        <ul>
            <li>Tasks added</li>
            <li>Tasks made progress</li>
            <li>Tasks completed</li>
            <li>Learning achieved (specified checklist)</li>
            <li>Company deep-dived</li>
        </ul>
    </div>

    <div class="about-right">
        <h3>People</h3>
        <ul>
            <li>People saw in person</li>
            <li>People texted</li>
            <li>People spoke on phone</li>
        </ul>

        <h3>Events</h3>
        <ul>
            <li>People interactions</li>
            <li>Exercise</li>
            <li>Golf</li>
        </ul>

        <h3>News of the day</h3>
        <ul>
            <li>Articles</li>
            <li>Up First</li>
            <li>Business / Finance Press Releases</li>
            <li>Predictions by pundits</li>
        </ul>
    </div>
</div>

{% endblock %}