{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='daily_form.css') }}">
{% endblock %}

{% block content %}

<div class="daily-page">
    <div class="daily-left">
        <fieldset class="daily-fieldset-bullets">
            <legend>Daily Overview</legend>
            <ul class="daily-bullets">
                <li><strong>Date:</strong> {{ displayDay }}</li><br>
                <li><strong>Time:</strong> {{ displayTime }}</li><br>
                <li><strong>S&P 500:</strong> {{ sp }}</li>
            </ul>
            <div> </div>
        </fieldset>
    </div>
    
    <div class="daily-left-center">
        <form action="" method="POST" autocomplete="off" novalidate>
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Personal Categories</legend>

                <div class="form-group">
                    <label for="date">Date</label>
                    {{ form.date(class="form-control", id="date") }}
                </div>
                
                <div class="form-group">
                    <label for="weight">Weight</label>
                    {{ form.weight(class="form-control", id="weight") }}
                </div>

                <div class="form-group">
                    <label for="sleep">Sleep Location:</label>
                    {{ form.sleep(class="form-control", id="sleep") }}
                </div>

                <div class="form-group">
                    <label for="morning">Morning</label>
                    {{ form.morning(class="form-control", id="morning") }}
                </div>

                <div class="form-group">
                    <label for="afternoon">Afternoon</label>
                    {{ form.afternoon(class="form-control", id="afternoon") }}
                </div>

                <div class="form-group">
                    <label for="evening">Evening</label>
                    {{ form.evening(class="form-control", id="evening") }}
                </div>

                <div class="form-group">
                    <label for="journal">Journal Entry:</label>
                    {{ form.journal(class="form-control", id="journal") }}
                </div>

                <button type="submit" class="btn btn-primary">Submit Personal</button>
            </fieldset>
        </form>
    </div>

    <div class="daily-right-center">
        <fieldset>
            <legend>Tracker</legend>
        </fieldset>
    </div>

    <div class="daily-right">
        <fieldset class="daily-fieldset">
            <legend>Daily Categories</legend>
                <div class="category-button">
                    <!-- <div class="form-category">Content</div> -->
                    <button class="form-button"><a href="{{url_for('daily_content') }}" >Add Content</a></button>
                </div>

                <div class="category-button">
                    <!-- <div class="form-category">Events</div> -->
                    <button class="form-button"><a href="#">Add Event</a></button>
                </div>

                <div class="category-button">
                    <!-- <div class="form-category">News</div> -->
                    <button class="form-button"><a href="#">Add News</a></button>
                </div>

                <div class="category-button">
                    <!-- <div class="form-category">Ideas</div> -->
                    <button class="form-button"><a href="{{ url_for('ideas') }}">Add Idea</a></button>
                </div>

                <div class="category-button">
                    <!-- <div class="form-category">Ideas</div> -->
                    <button class="form-button"><a href="#">Add Webpage Idea</a></button>
                </div>
        </fieldset>
    </div>
</div>
{% endblock %}