{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='daily_news.css') }}">
{% endblock %}
{% block content %}
<div class="page-container">
    <div class="left-side">
        <form action="" method="POST" autocomplete=off novalidate class="news-form">
            {{ form.hidden_tag() }}
            <fieldset class="form-fieldset">
                <legend>Daily News</legend>
                <div class="form-group">
                    {{ form.newsDatePosted.label(class="form-label-news") }}
                    {{ form.newsDatePosted(class="form-field-news") }}
                    {% for error in form.newsDatePosted.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.newsType.label(class="form-label-news") }}
                    {{ form.newsType(class="form-field-news") }}
                    {% for error in form.newsType.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.newsTitle.label(class="form-label-news") }}
                    {{ form.newsTitle(class="form-field-news") }}
                    {% for error in form.newsTitle.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.newsLink.label(class="form-label-news") }}
                    {{ form.newsLink(class="form-field-news") }}
                    {% for error in form.newsLink.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.newsNote.label(class="form-label-news") }}
                    {{ form.newsNote(class="form-field-news") }}
                    {% for error in form.newsNote.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.newsTicker.label(class="form-label-news") }}
                    {{ form.newsTicker(class="form-field-news") }}
                    {% for error in form.newsTicker.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </fieldset>
        </form>
        <div class="bottom-left">

        </div>
    </div>
    <div class="right-side">
        <fieldset class="table-fieldset">
            <legend>News Items</legend>
            <table class="news-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>News</th>
                        <th>Link</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for new in news %}
                    <tr>
                        <td>{{ new.day.date }}</td>
                        <td>{{ new.newsType }}</td>
                        <td>{{ new.newsTitle }}</td>
                        <td><a href="{{ new.newsLink }}">Link</a></td>
                        <td><a href="{{ url_for('daily_news', news_id=new.id) }}">Edit</a> / 
                            <button class="deleteButton" data-delete-url="{{ url_for('delete_news', news_id=new.id) }}">Delete</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </div>
</div>

<!-- Delete Modal -->
<div class="deleteModal" id="deleteModal">
    <div class="delete-modal-content">
        <p>Are you sure you want to delete?</p>
        <div class="delete-modal-actions">
            <button class="deleteCancelButton">Cancel</button>
            <button class="deleteConfirmButton">Confirm Delete</button>
        </div>
    </div>
</div>

<script>
    // Script for Delete Modal
    document.addEventListener('DOMContentLoaded', function() {
        const deleteButtons = document.querySelectorAll('.deleteButton');
        const modal = document.getElementById('deleteModal');
        const deleteCancelButtons = document.querySelectorAll('.deleteCancelButton');
        const deleteConfirmButtons = document.querySelectorAll('.deleteConfirmButton');

        let deleteUrl; // Variable to store the delete URL

        // Show modal when any delete button is clicked
        deleteButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                // Get the URL for the delete action from the data attribute
                deleteUrl = button.getAttribute('data-delete-url');
                modal.style.display = 'block';
            });
        });

        // Hide modal when any cancel button is clicked
        deleteCancelButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                modal.style.display = 'none';
            });
        });

        // Perform the delete action when any confirm button is clicked
        deleteConfirmButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                // Redirect to the delete URL after confirmation
                window.location.href = deleteUrl;

                // Hide the modal after confirmation (optional)
                modal.style.display = 'none';
            });
        });
    });
</script>

{% endblock %}