{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='daily_form.css') }}">
{% endblock %}

{% block content %}

<div class="daily-page">
    <div class="daily-left">
        <fieldset class="daily-fieldset-bullets">
            <legend>Daily Overview</legend>
            <ul class="daily-bullets">
                <li><strong>Date:</strong> {{ displayDay }}</li><br>
                <li><strong>Time:</strong> {{ displayTime }}</li><br>
                <li><strong>S&P 500:</strong> {{ sp[0] }} / {{ sp[1] }}%</li>
            </ul>
            <div> </div>
        </fieldset>
    </div>
    
    <div class="daily-left-center">
        <form action="" method="POST" autocomplete="off" novalidate class="daily-fieldset">
            {{ form.hidden_tag() }}
            <fieldset class="daily-fieldset {% if form.date.data == today_date %}today-date{% endif %}">
                <legend>Personal Categories</legend>

                <div class="form-group">
                    <label for="date">Date</label>
                    {{ form.date(class="form-control", id="date") }}
                    {% for error in form.date.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>
                
                <div class="form-group">
                    <label for="weight">Weight</label>
                    {{ form.weight(class="form-control", id="weight") }}
                    {% for error in form.weight.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="sleep">Sleep Location:</label>
                    {{ form.sleep(class="form-control", id="sleep") }}
                    {% for error in form.sleep.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="morning">Morning</label>
                    {{ form.morning(class="form-control", id="morning") }}
                    {% for error in form.morning.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="afternoon">Afternoon</label>
                    {{ form.afternoon(class="form-control", id="afternoon") }}
                    {% for error in form.afternoon.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="evening">Evening</label>
                    {{ form.evening(class="form-control", id="evening") }}
                    {% for error in form.evening.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="journal">Journal Entry:</label>
                    {{ form.journal(class="form-control", id="journal") }}
                    {% for error in form.journal.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>

                {{ form.submitPersonal(class="btn btn-primary") }}
            </fieldset>
        </form>
    </div>

    <div class="daily-right-center">
        <fieldset class="daily-fieldset-tracker">
            <legend>Tracker</legend>
            <table class="tracker-table">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Weight</th>
                        <th>Exercise</th>
                        <th>Contents</th>
                        <th>Events</th>
                        <th>News</th>
                    </tr>
                </thead>
                <tbody>
                    {% for day in days %}
                    <tr>
                        <td><a href="{{ url_for('daily_form', day_id=day.id) }}">{{ day.date }}</a></td>
                        <td>
                        {% if day.weight %}
                        {{ day.weight }}
                        {% else %}
                        {% endif %}</td>
                        <td>{{ counts_dict[day]["exercise"] }}</td>
                        <td>{{ counts_dict[day]["contents"] }}</td>
                        <td>{{ counts_dict[day]["events"] }}</td>
                        <td>{{ counts_dict[day]["news"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </div>

    <!-- <div class="daily-right">
        <fieldset class="daily-fieldset">
            <legend>Categories</legend>
                <ul class="ul-daily-links">
                    <li><a href="{{ url_for('daily_exercise') }}">Exercise</a></li>
                    <li><a href="{{ url_for('daily_content') }}" >Content</a></li>
                    <li><a href="{{ url_for('daily_task') }}" >Tasks</a></li>
                    <li><a href="{{ url_for('daily_events') }}">Events</a></li>
                    <li><a href="{{ url_for('daily_news') }}">News</a></li>
                    <li><a href="{{ url_for('webpage_ideas') }}">Webpage Ideas</a></li>
                </ul>
        </fieldset>
    </div> -->
</div>
{% endblock %}