{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content_form.css') }}">
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="content-form-container">
        <form action="" method="POST" autocomplete="off" novalidate class="content-form">
            {{ form.hidden_tag() }}
            <fieldset class="content-form-fieldset">
                <legend>Content Item</legend>
                
                <div class="form-group">
                    <label for="contentComplete">Content Completed</label>
                    {{ form.contentComplete(class="form-control", id="contentComplete") }}
                    {% for error in form.contentComplete.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="dateConsumed">Date of Addition</label>
                    {{ form.dateConsumed(class="form-control", id="dateConsumed") }}
                    {% for error in form.dateConsumed.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>
                
                <div class="form-group">
                    <label for="dateMade">Date Made</label>
                    {{ form.dateMade(class="form-control", id="dateMade") }}
                    {% for error in form.dateMade.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="contentType">Type</label>
                    {{ form.contentType(class="form-control", id="contentType") }}
                    {% for error in form.contentType.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="contentCreator">Creator</label>
                    {{ form.contentCreator(class="form-control", id="contentCreator") }}
                    {% for error in form.contentCreator.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="contentLink">Link</label>
                    {{ form.contentLink(class="form-control", id="contentLink") }}
                    {% for error in form.contentLink.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="contentRating">Rating</label>
                    {{ form.contentRating(class="form-control", id="contentRating") }}
                    {% for error in form.contentRating.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="contentSubject">Subject</label>
                    {{ form.contentSubject(class="form-control", id="contentSubject") }}
                    {% for error in form.contentSubject.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>
                
                <div class="form-group">
                    <label for="contentNote">Note</label>
                    {{ form.contentNote(class="form-control", id="contentNote") }}
                    {% for error in form.contentNote.errors %}
                        <span class="errorMessage">[{{ error }}]</span>
                    {% endfor %}
                </div>

                {{ form.submit(class="btn btn-primary") }}
            </fieldset>
        </form>
    </div>

    
    <div class="content-table">
        <fieldset class="daily-fieldset-tracker">
            <legend>Recent Content Items</legend>
            <table class="tracker-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        {% for category in categories %}
                            <th>{{ category }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for day in content_dict %}
                        <tr>
                            <td>{{ day }}</td>
                            {% for category in categories %}
                                <td>{{ content_dict[day][category] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>

            <div>
                <table class="recent-content-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Creator</th>
                            <th>Subject</th>
                            <th>Link</th>
                            <th>Complete</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for content in contents %}
                            <tr>
                                <td>{{ content.day }}</td>
                                <td>{{ content.contentType }}</td>
                                <td>{{ content.contentCreator }}</td>
                                <td>{{ content.contentSubject }}</td>
                                <td><a href="{{ content.contentLink }}" target="_blank" rel="noreferrer noopener">Link</a></td>
                                <td>
                                    {% if content.contentComplete %}
                                    ✓
                                    {% else %}
                                    
                                    {% endif %}
                                </td>
                                <td><a href="{{ url_for('daily_content', content_id=content.id) }}">Edit</a> / 
                                    <button class="deleteButton" data-delete-url="{{ url_for('delete_daily_content', content_id=content.id) }}">Delete</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
</div>

<!-- Delete Modal -->
<div class="deleteModal" id="deleteModal">
    <div class="delete-modal-content">
        <p>Are you sure you want to delete?</p>
        <div class="delete-modal-actions">
            <button class="deleteCancelButton">Cancel</button>
            <button class="deleteConfirmButton">Confirm Delete</button>
        </div>
    </div>
</div>

<script>
    // Script for Delete Modal
    document.addEventListener('DOMContentLoaded', function() {
        const deleteButtons = document.querySelectorAll('.deleteButton');
        const modal = document.getElementById('deleteModal');
        const deleteCancelButtons = document.querySelectorAll('.deleteCancelButton');
        const deleteConfirmButtons = document.querySelectorAll('.deleteConfirmButton');

        let deleteUrl; // Variable to store the delete URL

        // Show modal when any delete button is clicked
        deleteButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                // Get the URL for the delete action from the data attribute
                deleteUrl = button.getAttribute('data-delete-url');
                modal.style.display = 'block';
            });
        });

        // Hide modal when any cancel button is clicked
        deleteCancelButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                modal.style.display = 'none';
            });
        });

        // Perform the delete action when any confirm button is clicked
        deleteConfirmButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                // Redirect to the delete URL after confirmation
                window.location.href = deleteUrl;

                // Hide the modal after confirmation (optional)
                modal.style.display = 'none';
            });
        });
    });
</script>
{% endblock %}