{% extends "layout.html" %}
{% block content %}

<div class="home-page-columns">
    <div class="home-left-side">
        <h3>Press release storage; db: PRs, linked to companies, products</h3>
        <h3>Event logging (mornings, afternoons, evenings); db: Events, linked to people, companies, PRs</h3>
        <h3>Interactions with people; db: People</h3>
        <h3>Company overview pages (financials, holders, stored analysis); db: Companies</h3>
        <h3>Content (podcasts, movies, TV, etc); db: Content</h3>
        <h3>To Do / plan for future?</h3>
        <br>
        <h3>Databases</h3>
        <ul>
            <li>Press Releases</li>
            <li>My daily events</li>
            <li>People</li>
            <li>Companies</li>
            <li>Content</li>

        </ul>
    </div>
    <div class="home-right-side">
        {% for message in messages %}
        <div class="message">
            <h3>{{ message["title"] }}</h3>
            <p>{{ message["content"] }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}