{% extends "layout.html" %}
{% block content %}

{% if ideas %}
<table class="ideaTable">
    <thead>
        <tr>
            <th>Index</th>
            <th>Idea</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for idea in ideas %}
        <tr>
            <td>{{ idea.id }}</td>
            <td>
                {% for text in idea.note.split("\n") %}
                    <p style="margin: 0; padding-right: 5px">{{ text }}</p>
                {% endfor %}
            </td>
            <td><a href="{{ url_for('delete_idea', id=idea.id) }}">Delete</a></td>
            <td><a href="{{ url_for('edit_idea', id=idea.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<hr>

<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <fieldset>
    {% if ideas %}
        <legend>Enter New Idea</legend>
    {% else %}
        <legend>Edit Idea</legend>
    {% endif %}
        <p>
            {{ form.ideaNote.label }}
            {{ form.ideaNote }}<br>
            {% for error in form.ideaNote.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </fieldset>
</form>

{% endblock %}