{% extends "layout.html" %}
{% block content %}

<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Idea</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% for idea in ideas %}
        <tr>
            <td>{{ idea.id }}</td>
            <td>{{ idea.note }}</td>
            <td><a href="{{ url_for('delete_idea', id=idea.id) }}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>

<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <fieldset>
    <legend>Enter New Idea</legend>
        <p>
            {{ form.ideaNote.label }}
            {{ form.ideaNote }}<br>
            {% for error in form.ideaNote.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </fieldset>
</form>

{% endblock %}