<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo.jpg') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- title of webpage based on if "title" variable is imported from route -->
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Webpage</title>
    {% endif %}
</head>
<body>
    <!-- navigation bar -->
    <header>
        <nav class="navbar">
           <div class="navbar-left">
                <img src="{{ url_for('static', filename='logo.jpg') }}" class="navbar-logo" alt="Website Logo">
                <a href="{{ url_for('home') }}" class="navbar-home">Home</a>
                <a href="{{ url_for('pressRelease') }}" class="navbar-home">Press Release</a>
                <a href="{{ url_for('events') }}" class="navbar-home">Events</a>
                <a href="{{ url_for('people') }}" class="navbar-home">People</a>
                <a href="{{ url_for('companies') }}" class="navbar-home">Companies</a>
                <a href="{{ url_for('content') }}" class="navbar-home">Content</a>
                <a href="{{ url_for('ideas') }}" class="navbar-home">To Do / Ideas</a>
                {# <a href="{{ url_for('holder_results') }}" class="navbar-search">Holder Search</a> #}
                {# <a href="{{ url_for('company_webpage') }}" class="navbar-search">Financials Overview</a> #}
                {# <a href="{{ url_for('new_post') }}" class="navbar-search">New Post</a> #}
                {# <a href="{{ url_for('all_posts') }}" class="navbar-search">All Posts</a> #}
           </div>
           <div class="navbar-right">
                <a href="{{ url_for('about') }}" class="navbar-about">About</a>
           </div>
        </nav>
    </header>
    <main>
        <!-- import content from external html file -->
        <div>
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        </div>
        <hr>
        {% block content %}
        {% endblock %}

    </main>
    <footer>
        A Henry C. M. Production &copy; 2023
    </footer>
</body>
</html>