<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo.jpg') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='daily_form.css') }}">

    <!-- title of webpage based on if "title" variable is imported from route -->
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Webpage</title>
    {% endif %}
</head>
<body>
    <!-- navigation bar -->
    <header>
        <nav class="navbar">
           <div class="navbar-left">
                <img src="{{ url_for('static', filename='logo.jpg') }}" class="navbar-logo" alt="Website Logo">
                <a href="{{ url_for('home') }}" class="navbar-link">Home</a>
                <a href="{{ url_for('ideas') }}" class="navbar-link">Ideas</a>
                <a href="{{ url_for('daily') }}" class="navbar-link">Daily</a>
                <a href="{{ url_for('daily_form') }}" class="navbar-link">Daily Form</a>
                {# <a href="{{ url_for('pressRelease') }}" class="navbar-link">Press Release</a> #}
                {# <a href="{{ url_for('events') }}" class="navbar-link">Events</a> #}
                {# <a href="{{ url_for('people') }}" class="navbar-link">People</a> #}
                {# <a href="{{ url_for('companies') }}" class="navbar-link">Companies</a> #}
                {# <a href="{{ url_for('content') }}" class="navbar-link">Content</a> #}
                {# <a href="{{ url_for('ideas') }}" class="navbar-link">To Do / Ideas</a> #}
                {# <a href="{{ url_for('holder_results') }}" class="navbar-link">Holder Search</a> #}
                {# <a href="{{ url_for('company_webpage') }}" class="navbar-link">Financials Overview</a> #}
                {# <a href="{{ url_for('new_post') }}" class="navbar-link">New Post</a> #}
                {# <a href="{{ url_for('all_posts') }}" class="navbar-link">All Posts</a> #}
           </div>
           <div class="navbar-right">
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}" class="navbar-link login">Log In</a>
                {% else %}
                    <a href="{{ url_for('edit_profile', id=user.id) }}"class="navbar-link">Edit Password</a>
                    <a href="{{ url_for('logout') }}" class="navbar-link logout">Log Out</a>    
                {% endif %}
                <a href="{{ url_for('about') }}" class="navbar-link">About</a>
           </div>
        </nav>
    </header>
    <main>
        <!-- Username if logged in -->
        {% if current_user.username %}
            <h1>Hello {{ current_user.username }}!</h1>
        {% endif %}
        <!-- Flashed Messages -->
        <div>
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        </div>
        <hr>
        <!-- import content from external html file -->
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        A Henry C. M. Production &copy; 2023
    </footer>
</body>
</html>