<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo.jpg') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% block css %}
    
    {% endblock %}
    <!-- title of webpage based on if "title" variable is imported from route -->
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Webpage</title>
    {% endif %}
</head>
<body>
    <!-- navigation bar -->
    <header>
        <nav class="navbar">
           <div class="navbar-left">
                <a href="{{ url_for('daily_form') }}"><img src="{{ url_for('static', filename='logo.jpg') }}" class="navbar-logo" alt="Website Logo"></a>
                <a href="{{ url_for('daily_form') }}" class="navbar-link">Home</a>
                <a href="{{ url_for('daily_exercise') }}" class="navbar-link">Exercise</a>
                <a href="{{ url_for('daily_content') }}" class="navbar-link">Content</a>
                <a href="{{ url_for('daily_task') }}" class="navbar-link">Tasks</a>
                <a href="{{ url_for('daily_events') }}" class="navbar-link">Events</a>
                <a href="{{ url_for('daily_news') }}" class="navbar-link">News</a>
                <a href="{{ url_for('webpage_ideas') }}" class="navbar-link">Webpage Ideas</a>
                <a href="{{ url_for('companies') }}" class="navbar-link">Companies</a>
                <a href="{{ url_for('people') }}" class="navbar-link">People</a>
                <a href="{{ url_for('playground') }}" class="navbar-link">Playground</a>
           </div>
           <div class="navbar-right">
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}" class="navbar-link login">Log In</a>
                {% else %}
                    <a href="{{ url_for('edit_profile', profile_id=user.id) }}"class="navbar-link">Edit Password</a>
                    <a href="{{ url_for('logout') }}" class="navbar-link logout">Log Out</a>    
                {% endif %}
                <a href="{{ url_for('about') }}" class="navbar-link">About</a>
           </div>
        </nav>
    </header>
    <main>
        <!-- Username if logged in -->
        {% if current_user.username %}
            <h1>Hello {{ current_user.username }}!</h1>
        {% endif %}
        <!-- Flashed Messages -->
        <div>
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        </div>
        <hr>
        <!-- import content from external html file -->
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        A Henry C. M. Production &copy; 2023
    </footer>
</body>
</html>