{% extends "layout.html" %}
{% block content %}

<form action="" method="post" autocomplete=off novalidate>
    {{ form.hidden_tag() }}
    <fieldset class="login-fieldset">
        <legend>Login</legend>
        <p class="login-username">
            {{ form.username.label }}<br>
            {{ form.username(class="login-username-field") }}
            {% for error in form.username.errors %}
                <br><span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
    
        <p class="login-password">
            {{ form.password.label }}<br>
            {{ form.password(class="login-password-field") }}
            {% for error in form.password.errors %}
                <br><span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </fieldset>

</form>

<p>New User? <a href="{{ url_for('register') }}">Register Here</a></p>

{% endblock %}