{% extends "layout.html" %}
{% block content %}

<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <fieldset>
    <legend>Enter News Item</legend>
        <p>
            {{ form.newsDatePosted.label }}
            {{ form.newsDatePosted }}<br>
            {% for error in form.newsDatePosted.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.newsType.label }}
            {{ form.newsType }}<br>
            {% for error in form.newsType.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.newsTitle.label }}
            {{ form.newsTitle }}<br>
            {% for error in form.newsTitle.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.newsNote.label }}
            {{ form.newsNote }}<br>
            {% for error in form.newsNote.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.newsLink.label }}
            {{ form.newsLink }}<br>
            {% for error in form.newsLink.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.newsTicker.label }}
            {{ form.newsTicker }}<br>
            {% for error in form.newsTicker.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </fieldset>
</form>

{% endblock %}