{% extends "layout.html" %}
{% block content %}

<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <fieldset>
    <legend>Enter New Task</legend>
        <p>
            {{ form.taskCategory.label }}
            {{ form.taskCategory }}<br>
            {% for error in form.taskCategory.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.taskName.label }}
            {{ form.taskName }}<br>
            {% for error in form.taskName.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.taskLink.label }}
            {{ form.taskLink }}<br>
            {% for error in form.taskLink.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.taskNote.label }}
            {{ form.taskNote }}<br>
            {% for error in form.taskNote.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </fieldset>
</form>

{% endblock %}