{% extends "layout.html" %}
{% block content %}

<h1>Press Releases</h1>


{% if pressReleaseList %}
    <table>
        <thead>
            <tr>
                {% for key in pressReleaseList.keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>  
        </thead>
        <tbody>
            <tr>
            {% for key in pressReleaseList.keys() %}
                <td>{{ pressReleaseList[key] }}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>

{% else %}
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}

        <p>
            {{ form.contentDate.label }}
            {{ form.contentDate }}<br>
            {% for error in form.contentDate.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.company.label }}
            {{ form.company }}<br>
            {% for error in form.company.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.ticker.label }}
            {{ form.ticker }}<br>
            {% for error in form.ticker.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.product.label }}
            {{ form.product }}<br>
            {% for error in form.product.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.link.label }}
            {{ form.link }}<br>
            {% for error in form.link.errors %}
                <span class="errorMessage">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endif %}

{% endblock %}