{% extends "layout.html" %}
{% block content %}

<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <fieldset>
    <legend>Enter Information</legend>
    <p>
        {{ form.category.label }}
        {{ form.category }}<br>
        {% for error in form.category.errors %}
            <span class="errorMessage">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.link.label }}
        {{ form.link }}<br>
        {% for error in form.link.errors %}
            <span class="errorMessage">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.note.label }}
        {{ form.note }}<br>
        {% for error in form.note.errors %}
            <span class="errorMessage">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.status.label }}
        {{ form.status }}
        {% for error in form.status.errors %}
            <span class="errorMessage">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</fieldset>
</form>

{% endblock %}